*{
 margin:0;
 padding:0;
 font-family: 'Mukta', sans-serif;
}
.menu-container{
  width:100%;
  min-height:100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow:hidden; 
}
.navbar{
    width:100%;
    display: flex;
    align-items: center;
}
.ed-logo{
    width: 150px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 20px;
    cursor: pointer;
    display: none;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #FF2400;
}
.gtr-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0; 

}
.overview{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.overview h2{
    font-size: 54px;
}
.overview h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.overview p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.overview h4{
    margin: 30px 0;
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #ff781f,#FF2400);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button img{
    width: 30px;
    filter: invert(1);
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy{
    font-weight: bold;
    font-size: large;
}
.overview::after{
    content: '';
    width: 10px;
    height: 57%;
    background:linear-gradient(#ff781f,#FF2400);
    position: absolute;
    left:-40px;
    top:8px;
}
.gtr-img{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.gtr-img .guitar{
    width: 90%;
}
.color-box{
    position: absolute;
    right: -25;
    top: 0;
    background:linear-gradient(#ff781f,#FF2400);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}

.social-media img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}
.social-media{
    text-align: center;
}
@media only screen and (max-width: 700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff781f,#FF2400);
        position: absolute;
        top: 75px;
        right:0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .gtr-info{
        flex-direction: column-reverse;
        margin:50px 0;
    }
    .gtr-img{
        flex-basis:100%;
        margin-bottom: 50px;
    }
    .gtr-img .guitar{
        width: 77%;
    }  
    .color-box{
        transform: translateX(75px)
    }
    .overview{
        flex-basis: 100%;
    }
    .overview h2{
        font-size:35px;
    }
    .overview h3{
        font-size:15px;
    }
}